.login {
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.loginContainer {
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}

.loginContainer > .loginButton {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48;
    color: white
}