 
.message {
    margin: 10px;
    height: fit-content;
    width: fit-content;
    max-width: 40vw;
    align-self:  left;
    break-after: always;
    /* background-color: white; */
    
}
.messageRight{


margin-left: auto !important;

margin: 10px;
    height: fit-content;
    width: fit-content;
    background-color: #ffdada;
    break-after: always;
}


.myMessageDataLeft {
    background-color: white ;
}
.myMessageDataRight{

     background-color: rgb(220,248,198);
}

.messageTime {
    
    float: right;
    font-size: xx-small;
    margin: 2px;
}